@tailwind base;
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=IBM+Plex+Sans+Condensed&family=IBM+Plex+Sans:wght@400;700&display=swap');


@tailwind components;
@import "../node_modules/nprogress/nprogress.css";

[hidden] {
  @apply hidden;
}

.alert:empty {
  @apply hidden;
}

.alert.toast {
  @apply z-40 fixed top-0 right-0 w-64 mt-20 shadow-xl cursor-pointer text-sm ease-out duration-300;
}

/* LiveView specific classes for your customizations */
.phx-no-feedback.invalid-feedback, .phx-no-feedback .invalid-feedback {
  display: none;
}

.phx-click-loading {
  opacity: 0.5;
  transition: opacity 1s ease-out;
}

.phx-disconnected{
  cursor: wait;
}
.phx-disconnected *{
  pointer-events: none;
}

@tailwind utilities;

#teachers {
  @apply flex;

  .sidebar {
    @apply w-48 bg-gray-800 py-4 text-purple-200;

    nav {
      @apply flex-1 px-2 bg-gray-800;

      .active {
        @apply bg-la-green text-gray-900;
      }

      a {
        @apply text-lg leading-5 font-bold flex items-center px-2 py-3 rounded mb-2;
      }

      a:hover {
        @apply bg-purple-200 text-gray-900;
      }

      img {
        @apply mr-2 h-6 w-6;
      }
    }
  }

  .main {
    @apply flex flex-grow;

    .wrapper {
      @apply flex-grow;
    }

    .card {
      @apply bg-purple-200 shadow overflow-hidden h-full;

      .header {
        @apply px-6 py-5 border-b-2 border-gray-100 flex items-center flex-wrap justify-between;

        h2 {
          @apply px-2 text-xl leading-6 font-semibold text-blue-900;
        }
      }

      .body {
        @apply px-8 py-4;

        h3 {
          @apply mt-8 text-base leading-5 font-medium text-gray-800 mb-2;
        }

        .row {
          @apply flex flex-wrap items-center justify-between text-base leading-5 font-medium text-gray-500;
        }

        .socials {
          @apply mt-8; 
        }

        .person {
          @apply flex items-baseline justify-between;

          img {
            @apply mr-3 max-h-60 w-auto rounded;
          }
        }

      }
    }
  }
}
