@tailwind base;
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=IBM+Plex+Sans+Condensed&family=IBM+Plex+Sans:wght@400;700&display=swap');


@tailwind components;
@import "../node_modules/nprogress/nprogress.css";

[hidden] {
  @apply hidden;
}

.alert:empty {
  @apply hidden;
}

.alert.toast {
  @apply z-40 fixed top-0 right-0 w-64 mt-20 shadow-xl cursor-pointer text-sm ease-out duration-300;
}

/* LiveView specific classes for your customizations */
.phx-no-feedback.invalid-feedback, .phx-no-feedback .invalid-feedback {
  display: none;
}

.phx-click-loading {
  opacity: 0.5;
  transition: opacity 1s ease-out;
}

.phx-disconnected{
  cursor: wait;
}
.phx-disconnected *{
  pointer-events: none;
}

@tailwind utilities;


#nav {
  .active {
    @apply bg-la-green text-gray-800;
  }

  a {
    @apply text-lg leading-5 font-bold flex items-center px-2 py-3 rounded mb-2;
  }

  a:hover {
    @apply bg-gray-800 text-purple-200;
  }

  img {
    @apply mr-4 h-6 w-6;
  }


}