@tailwind base;
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=IBM+Plex+Sans+Condensed&family=IBM+Plex+Sans:wght@400;700&display=swap');


@tailwind components;
@import "../node_modules/nprogress/nprogress.css";

[hidden] {
  @apply hidden;
}

.alert:empty {
  @apply hidden;
}

.alert.toast {
  @apply z-40 fixed top-0 right-0 w-64 mt-20 shadow-xl cursor-pointer text-sm ease-out duration-300;
}

/* LiveView specific classes for your customizations */
.phx-no-feedback.invalid-feedback, .phx-no-feedback .invalid-feedback {
  display: none;
}

.phx-click-loading {
  opacity: 0.5;
  transition: opacity 1s ease-out;
}

.phx-disconnected{
  cursor: wait;
}
.phx-disconnected *{
  pointer-events: none;
}

@tailwind utilities;

#teachers {
  @apply flex;

  .sidebar {
    @apply w-48 bg-green-800 pt-4 pb-4 text-green-300;

    nav {
      @apply flex-1 px-2 bg-green-800;

      .active {
        @apply text-white bg-green-900;
      }

      a {
        @apply text-sm leading-5 font-medium flex items-center px-2 py-3 rounded-md mb-2;
      }

      a:hover {
        @apply text-white bg-green-900;
      }

      img {
        @apply mr-2 h-6 w-6 text-green-400;
      }
    }
  }

  .main {
    @apply flex flex-1;

    .wrapper {
      @apply flex-1 max-w-2xl mx-auto px-6;
    }

    .up {
      @apply px-3 py-1 rounded-md text-xs font-medium leading-5 bg-green-200 text-green-800 rounded-full;
    }

    .down {
      @apply px-3 py-1 rounded-md text-xs font-medium leading-5 bg-red-200 text-red-800 rounded-full;
    }

    .card {
      @apply bg-white shadow overflow-hidden rounded-lg;

      .header {
        @apply px-6 py-5 border-b border-gray-200 flex items-center flex-wrap justify-between;

        h2 {
          @apply text-xl leading-6 font-semibold text-indigo-800;
        }
      }

      .body {
        @apply px-8 py-4;

        h3 {
          @apply mt-8 text-base leading-5 font-medium text-gray-500 mb-2;
        }

        .row {
          @apply flex flex-wrap items-center justify-between text-base leading-5 font-medium text-gray-500;
        }

        .person {
          @apply flex items-baseline justify-between;

          img {
            @apply mr-3 h-60 w-60 text-indigo-400;
          }
        }

      }
    }
  }
}
