<h1>Reenviar instrucciones para confirmar mi cuenta</h1>

<%= form_for :user, Routes.user_confirmation_path(@conn, :create), fn f -> %>
  <%= label f, :email %>
  <%= text_input f, :email, required: true %>

  <div>
    <%= submit "Reenviar instrucciones para confirmar mi cuenta" %>
  </div>
<% end %>

<p>
  <%= link "Registrate", to: Routes.user_registration_path(@conn, :new) %> |
  <%= link "Ingresar", to: Routes.user_session_path(@conn, :new) %>
</p>
