<!DOCTYPE html>
<html lang="en" class="h-full">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "LatinasCodeCamp", suffix: " · Bootcamp de desarrollo web para mujeres" %>
    <link phx-track-static rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script defer phx-track-static type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </head>
  <body class="flex flex-col h-full bg-gray-100">
    <header>
      <nav class="flex flex-wrap items-center justify-between py-2 px-4 bg-gray-700">
        <a class="inline-block mr-4 py-1 text-xl text-gray-300" href="/">
          <img src="/images/latinas_codecamp.png" class="h-16 w-auto" alt="">
        </a>
      </nav>
    </header>

    <main role="main" class="container flex justify-center self-center mx-auto my-8 px-4 max-w-6xl">
      <p class="alert alert-info alert-left toast" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger alert-left toast" role="alert"><%= get_flash(@conn, :error) %></p>

      <div class="flex justify-center my-2 p-2">
        <div class="card bg-purple-200 border-gray-800 w-full max-w-xs">
          <div class="card-body">
            <%= @inner_content %>
          </div>
        </div>
      </div>
    </main>

    <footer class="py-2 mt-auto text-la-green text-center bg-gray-700 footer">
      <div class="container max-w-6xl px-4 mx-auto">
        <span>Made with ♥ for Latinas Code Camp</span>
      </div>
    </footer>
  </body>
</html>
